################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Change/obj
/Change/bin/Debug/net8.0
/.vs
